.header{margin:-8px -8px 0px;background-image:linear-gradient(145deg,lightblue,blue,lightblue);color:white;text-align:center;padding:10px;}  
.container{width:100%} 
			
		body{
		 background-image:url(2.jpg);   
		}
		.zoom {
    padding: 32px;
    background-image: url(6.png);
    transition: transform .2s; /* Animation */
    width: 0.1px;
    height: 0.1px;
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom1 {
    padding: 32px;
    background-image: url(7.png);
    transition: transform .2s; /* Animation */
    width: 0.1px;
    height: 0.1px;
    margin: 0 auto;
}
.zoom1:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom2 {
    padding: 32px;
    background-image: url(8.png);
    transition: transform .2s; /* Animation */
    width: 0.1px;
    height: 0.1px;
    margin: 0 auto;
}
.zoom2:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.zoom3 {
    padding: 32px;
    background-image: url(9.png);
    transition: transform .2s; /* Animation */
    width: 0.1px;
    height: 0.1px;
    margin: 0 auto;
}
.zoom3:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}											
					
			
		
        </style>
	